src/main/app/api-rest-to-soap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <ws:consumer-config name="Web_Service_Consumer" service="TshirtServicePortTypeService" port="TshirtServicePortTypePort" serviceAddress="http://tshirt-service.cloudhub.io/" wsdlLocation="http://tshirt-service.cloudhub.io/?wsdl" doc:name="Web Service Consumer"/>
    <flow name="api-rest-to-soapFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/api/*" allowedMethods="POST" metadata:id="3f26a12a-b860-48ec-be32-1cf8f1256e1a" doc:name="HTTP"/>
        <set-payload value="#[payload]" doc:name="Set Payload"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:input-payload doc:sample="examples/requestListInventory.json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace sch http://mulesoft.org/tshirt-service
---
{
	sch#ListInventory: payload.ListInventory
}]]></dw:set-payload>
        </dw:transform-message>
        <ws:consumer config-ref="Web_Service_Consumer" operation="ListInventory" doc:name="Web Service Consumer"/>
        <dw:transform-message metadata:id="96532f81-d845-4b6a-bc09-7b6afcd28bb4" doc:name="Transform Message">
            <dw:input-payload doc:sample="sample_data/ListInventoryResponse.xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
%namespace ns0 http://mulesoft.org/tshirt-service
---
{
	ListInventoryResponse: {
		inventory: payload.ns0#ListInventoryResponse.*inventory map ((inventory , indexOfInventory) -> {
			productCode: inventory.productCode,
			size: inventory.size,
			description: inventory.description,
			count: inventory.count as :string
		})
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <json:json-to-xml-transformer doc:name="JSON to XML"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
